
//COLORES MARCA
$color-1: #1A1C36; //azul oscuro
$color-2: #2E3A73; //azul
$color-3: #525E93; //azul claro
$color-4: #7B84AE; //azul muy claro
$color-5: #AA7438; //ocre
$color-6: #D4A469; //naranja
$color-7: #AB9B38; //amarillo

//COLORES TERCIARIOS
$color-tr1: #FAFAFA; //blanco
$color-tr2: #D8D8D8; //gris
$color-tr3: #1B0907; //negro

